.maps-template #map {
    height: 400px;
    width: 100%;
    margin-bottom: 20px;
}

.maps-template .nav-tab-content {
    background-color: #fff;
    border: 1px solid #ddd;
    padding-top: 20px;
}

.no-display {
    display: none !important;
}

.maps-template .polylines__add {
    margin-bottom: 20px;
}

.maps-template .panel input,
.maps-template .panel textarea,
.maps-template .panel select {
    width: 30%;
}

.maps-template .panel label span {
    float: right;
}

.maps-template .panel .marker__title,
.maps-template .panel .marker__animation,
.maps-template .panel .marker__link,
.maps-template .panel .marker__script,
.maps-template .panel .isset-click {
    display: inline-block;
}

.maps-template .panel .marker__remove {
    float: right;
}

.marker__remove a {
    float: left;
}

.maps-template .download {
    text-align: center;
}

.maps-template .download img {
    margin: 0 auto;
    border: 1px solid #808080;
}

.download img {
    display: block;
}

.download-form {
    margin-bottom: -25px;
}

.download-form input{
    width: 30px;
}

.download-form button{
    margin: 5px ;
}

#my_file{
    height: 30px;
    width: 50px;
    opacity: 0;
    position: relative;
    top: -35px;
    left: -16px;
    z-index: 99999;
    cursor: pointer;
    margin: 0 auto;
}

.remove_image_button{
    position: relative;
    z-index: 999999;
}

.disabled {
    pointer-events: none;
}

.update_name{

}

.size-input {
    margin-left: 65px;
    display: inline-block;
}

#widht,#height,#zoom {
    border-radius: 5px;
    height: 27px;
}

.height-wrapper {
    margin-left: -80px;
}